<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/main_logo"
        android:label="스르륵~"
        android:roundIcon="@drawable/ic_launcher_background"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".SettlementListActivity" />
        <activity android:name=".CreateGroupActivity" />
        <activity android:name=".MyPageActivity" />
        <activity android:name=".MyPageUserInfoActivity" />
        <activity android:name=".MyPagePaymentActivity" />
        <activity android:name=".MyPageGroupActivity" />
        <activity android:name=".ShowAccountActivity" />
        <activity android:name=".DeletePaymentActivity" />
        <activity android:name=".DeleteGroupActivity" />
        <activity
            android:name=".ChargePointActivity"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity android:name=".FinishChargeActivity" />
        <activity android:name=".TransferBankActivity" />
        <activity android:name=".FinishTransferActivity" />
    </application>

</manifest>